<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$title</title>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../static/assets/css/global.css" />
</head>

<body>
    $navigation
    <div class="container">
        <div class="content">
            $body
        </div>
        <div class="footer">

            <p>&copy; Jennifer Tjakrawisada 2014</p>
        </div>
    </div>

    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
</body>
</html>
